# Project exclude paths
/ly-auth-center/ly-auth-common/target/
/ly-auth-center/ly-auth-service/target/
/ly-cart/target/
/ly-common/target/
/ly-gateway/target/
/ly-item/ly-item-interface/target/
/ly-item/ly-item-service/target/
/ly-order/target/
/ly-page/target/
/ly-registry/target/
/ly-search/target/
/ly-sms/target/
/ly-upload/target/
/ly-user/ly-user-interface/target/
/ly-user/ly-user-service/target/